<tr>
  <td style="background-color: #1c9bf0;">
    <table style="padding:2px; border: 0;width: 100%">
      <tbody>
      <tr>
        <td style="width:18px;padding-right:4px">
          <a href="/">
            <img src="/y18.svg" width="18" height="18" style="border:1px white solid; display:block"></a>
        </td>
        <td style="line-height:12pt; height:10px;">
          <span class="pagetop">
            <b class="hnname">
              <a href="/">黑客新闻</a>
            </b>
            <% if request.fullpath.include? "/newest" %>
              <span class="topsel">
                <a href="/newest">最新</a>
              </span>
                |
            <% else %>
              <a href="/newest">最新</a> |
            <% end %>

            <% if user_signed_in? %>
              <a href="/threads">动态</a> |
            <% end %>
            <a href="/front">过去</a> |
            <% if request.fullpath.include? "/comments" %>
              <span class="topsel">
                <a href="/comments">评论</a>
              </span>
                |
            <% else %>
              <a href="/comments">评论</a> |
            <% end %>
            <a href="/ask">问答</a> |
            <a href="/show">推广</a> |
            <a href="/jobs">工作</a> |
            <%= link_to "创建", new_item_path %>
          </span>
        </td>
        <% if user_signed_in? %>
          <td style="text-align:right;padding-right:4px;">
            <span class="pagetop">
              <a id="me" href="/users/<%= current_user.id %>"><%= current_user.email %></a> (<span id="karma"><%= current_user.karma %></span>) |
              <%= link_to "退出", destroy_user_session_path, data: { turbo_method: :delete }, id: "logout" %>
            </span>
          </td>
          <% else %>
          <td style="text-align:right;padding-right:4px;">
          <span class="pagetop">
            <%= link_to "登录", new_user_session_path %>
          </span>
          </td>
        <% end %>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
<tr id="pagespace" title="" style="height:10px"></tr>