<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta name="referrer" content="origin">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<center>
  <%= yield %>
</center>
</body>
</html>
